<div align="center">
<img src="https://readme-typing-svg.herokuapp.com?size=50&center=true&vCenter=true&width=800&height=100&lines=Hello+World+%F0%9F%91%8B;Bonjour+tout+le+monde+%F0%9F%91%8B;Hallo+Welt%F0%9F%91%8B;Hello+World%F0%9F%91%8B">
<p>
<a href="#projects">
<img src="https://img.shields.io/github/stars/krishdevdb?affiliations=OWNER%2CCOLLABORATOR&logo=github&style=for-the-badge&label=Star">
</a>
<a href="https://github.com/krishdevdb?tab=followers">
<img src="https://img.shields.io/github/followers/krishdevdb?logo=github&style=for-the-badge"></a>
</p>
<img src="https://cardivo.vercel.app/api?name=Krish%20Dev%20DB&description=A%20Open%20Source%20Developer%0A&image=https%3A%2F%2Favatars.githubusercontent.com%2Fu%2F76587897%3Fv%3D4&site=https%3A%2F%2Fgithub.com%2Fkrishdevdb%2F&instagram=krishdevdb&linkedin=krish-dev-db-02a387206&github=krishdevdb&twitter=krishdevdb&pattern=leaf&backgroundColor=%23ecf0f1&colorPattern=%23eaeaea">
<br>
</div>

<div>
<h2 id="stats">📊 GitHub Stats</h2>
<img src="https://github-readme-stats.vercel.app/api?username=krishdevdb&show_icons=true&count_private=true">
</div>

<div>
<br>
<h2 id="projects"> ✨ Opensource Projects</h2>
<a href="https://github.com/krishdevdb/reseter.css"><img src="https://github-readme-stats.vercel.app/api/pin/?username=krishdevdb&repo=reseter.css&show_icons=true&count_private=true&layout=compact"></a>&#8198;
<a href="https://github.com/krishdevdb/readme-template"><img src="https://github-readme-stats.vercel.app/api/pin/?username=krishdevdb&repo=readme-template&show_icons=true&count_private=true&layout=compact"></a>
<br>
</div>

<div>
<h2 id="languages"> ❤ Favourite Languages </h2>
<img src="https://github-readme-stats.vercel.app/api/top-langs/?username=krishdevdb&show_icons=true&count_private=true&layout=compact">
</div>

<div>
<h2 id="trophee">🏆 GitHub Trophee</h2>
<img src="https://github-profile-trophy.vercel.app/?username=krishdevdb&row=1&no-frame=true">
<br>
</div>

<div>
<h2 id="streak">🔥GitHub Streak</h2>
<img src="https://github-readme-streak-stats.herokuapp.com/?user=krishdevdb">
<br>
</div>

<h2 id="breakdown"> 📈 Weekly Development Breakdown </h2>

<!--START_SECTION:waka-->
<!--END_SECTION:waka-->

<h2 id="activity"> ⚡ Recent Activity </h2>

#### 👷 Check out what I'm currently working on
{{range recentContributions 5}}
- [{{.Repo.Name}}]({{.Repo.URL}}) - {{.Repo.Description}} ({{humanize .OccurredAt}})
{{- end}}

#### 🌱 My latest projects
{{range recentRepos 5}}
- [{{.Name}}]({{.URL}}) - {{.Description}}
{{- end}}

#### 🔭 Latest releases I've contributed to
{{range recentReleases 5}}
- [{{.Name}}]({{.URL}}) ([{{.LastRelease.TagName}}]({{.LastRelease.URL}}), {{humanize .LastRelease.PublishedAt}}) - {{.Description}}
{{- end}}

<br>
<br>

<img align="center" src="https://activity-graph.herokuapp.com/graph?username=krishdevdb&hide_border=true&area=true&point=transparent">
